:root {
    --background-color: white;
}

* {
    font-family: 'Poppins';
    height: 1vh;
    width: 1vw;
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-focus: none;
}