@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins_regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins_medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins_semi_bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins_bold.ttf');
    font-weight: 700;
}